.icon {
  height: 5em;
  width: 5em;
}

#icons {
  float: left;
  margin-top: 200px;
  margin-left: 30px;
}

#portrait {
  height: 28em;
  width: 20em;
  margin-right: 30px;
}

.left {
  float: left;
}

.right {
  float: right;
  margin-right: 100px;
  text-align: center;
}


/*a {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property
  transition:.s;
}
*/
a:hover {
  color:#A503BC;
  text-decoration: none;
}

body {
  background-color: #FFCC99;
  background-image: url("https://ABaldwinHunter.github.io/blogimgs/portrait.jpg");
  background-repeat: no-repeat;
}


p {
  font-size: 1.5em;
}

#transparent {
  opacity: 0.4;
  float: right;
}

.row {
  float: right;
}

h1 {
  font-size: 3em;
}

#faded {
  background-color: white;
  opacity: 0.4;
  padding: 2em;
  padding-left: 3.5em;
  padding-right: 3.5em;
  border-radius: 4%;
}