.icon {
  height: 5em;
  width: 5em;
  color: #A503BC;
}

#portrait {
  height: 28em;
  width: 20em;
  margin-right: 30px;
}

.left {
  float: left;
}

a:hover {
  color:#A503BC;
  text-decoration: none;
}