.a {
	border: 8px solid beige;
	text-align: center;
	background-color: brown;
}

.sandwiches {
	display: inline-block;
	margin: 10px 10px 10px 10px;
	border: 1px solid violet;
	text-align: center;
	bottom: 20px;
	position: relative;
}

img {
	width: 100px;
}